body {
    background-color: #121213;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #d7dadc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#header-div {
    width: 500px;
    border-bottom: 1px solid;
    border-color: #3a3a3c;
    height: 65px
}

#header {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 4px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    pointer-events: none;
}

#wordDataForm {
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#correctPositionContainer {
    height: 62px;
}

.correctPos {
    width: 62px;
    height: 62px;
    background-color: #121213;
    border: 2px #3a3a3c solid;
    border-radius: 1px;
    text-decoration: none;
    line-height:normal;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #d7dadc;
}

.correctPos :focus, input:focus{
    outline: #afabab solid 1px;
    caret-color: transparent;
}

.letterInput {
    height: 62px;
    background-color: #121213;
    border: 2px #3a3a3c solid;
    border-radius: 1px;
    font-size: 40px;
    color: #d7dadc;
    width: 360px;
}


